.container-productById {
  width: 100% !important;
  height: 100vh;
  display: flex;
  margin-bottom: 20px;
}

.detailsPod {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}

.boxDetails {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px 20px 5px 0px;
  gap: 7px;
}

.titleProdId,
.descriptionProdId,
.priceProdId,
.categoryProdId {
  font-family: var(--font-title);
}

.titleProdId {
  text-align: start;
}
.titleProdId span {
  font-size: 24px !important;
  text-transform: capitalize;
  font-weight: 600;
}

.priceProdId span,
.categoryProdId span,
.descriptionProdId span {
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
}

.descriptionProdId {
  text-align: start;
}

.boxImageProd {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 20px;
}
.imageProd {
  width: 50%;
  height: 70%;
}

.buttonBoxCenter {
  width: 100% !important;
  display: flex;
  padding: 20px 0px;
  justify-content: start;
}

@media screen and (min-width: 900px) and (max-width: 1280px) {
  .buttonBoxCenter {
    width: 100% !important;
    display: flex;
    padding: 20px 0px;
    justify-content: end;
  }
  .boxDetails {
    width: 70%;
    align-items: end;
    padding: 5px 0px 5px 20px;
  }
  .titleProdId {
    text-align: end;
  }
  .titleProdId span {
    font-size: 26px !important;
    text-transform: capitalize;
    font-weight: 600;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .container-productById {
    height: auto;
    flex-direction: column-reverse;
  }
  .detailsPod {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 20px;
  }

  .boxImageProd {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 30px 0px 20px 0px;
  }
  .imageProd {
    width: 30%;
    height: 50%;
  }
  .boxDetails {
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: start;
  }
  .descriptionProdId {
    text-align: start;
    font-size: 20px;
    text-transform: capitalize;
  }

  .titleProdId span,
  .priceProdId span,
  .categoryProdId span {
    font-weight: 600;
    font-size: 23px;
    text-transform: capitalize;
  }

  .titleProdId,
  .priceProdId,
  .categoryProdId {
    font-size: 20px;
    text-transform: capitalize;
  }

  .titleProdId span {
    font-size: 25px !important;
    text-transform: capitalize;
    font-weight: 600;
  }
  .titleProdId {
    text-align: start !important;
  }

  .buttonBoxCenter {
    width: 100% !important;
    display: flex;
    padding: 20px 0px;
    justify-content: start;
  }
}

@media screen and (max-width: 500px) {
  .container-productById {
    height: auto;
    flex-direction: column;
  }
  .detailsPod {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 20px;
  }

  .boxImageProd {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 30px 0px 20px 0px;
  }
  .imageProd {
    width: 50%;
    height: 70%;
  }
  .boxDetails {
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: start;
  }
  .descriptionProdId {
    text-align: start;
    font-size: 18px;
    text-transform: capitalize;
  }

  .titleProdId span,
  .priceProdId span,
  .categoryProdId span {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
  }

  .titleProdId,
  .priceProdId,
  .categoryProdId {
    font-size: 18px;
    text-transform: capitalize;
  }
  .titleProdId span {
    font-size: 22px !important;
    text-transform: capitalize;
    font-weight: 600;
    text-align: start !important;
  }
  .titleProdId {
    text-align: start !important;
  }

  .buttonBoxCenter {
    width: 100% !important;
    display: flex;
    padding: 20px 0px;
    justify-content: start;
  }
}
