.navbarContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  background-color: #242424;
  top: 0;
  position: sticky;
  z-index: 30;
  height: 90px !important;
  width: 100% !important;
  padding: 16px;
}
.containCartandHamb {
  display: flex;
  /* gap: 5px; */
}
.contain-searchBar-lg {
  display: flex;
  width: 33%;
}
.subNavbar {
  display: none;
}

@media screen and (min-width: 1401px) {
  .navbarContain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    background-color: #242424;
    top: 0;
    position: sticky;
    z-index: 30;
    height: 80px;
    width: 100% !important;
    padding: 16px;
  }
  .containCartandHamb {
    display: flex;
    /* gap: 5px; */
  }
  .contain-searchBar-lg {
    display: flex;
    width: 33%;
  }
  .subNavbar {
    display: none;
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .navbarContain {
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .navbarContain {
    justify-content: space-between;
    height: 60px;
  }

  .subNavbar {
    width: 100% !important;
    height: 50px;
    background-color: var(--color-yellowPrimary);
    top: 60px;
    position: sticky;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contain-searchBar-lg {
    display: none;
  }
}
