@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import 'tailwindcss';

@theme {
  --font-text: 'Karla', sans-serif;
  --color-yellowPrimary: #ffc803;
}

:root {
  --font-title: 'Karla', sans-serif;
}

body {
  user-select: none;
}

/* button hero */
/* From Uiverse.io by doniaskima */
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12:hover span {
  color: black;
  z-index: 2;
}

.btn-12:after,
.btn-12:before {
  background: #eebb04;
  content: '';
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
  color: black;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}

/* CUSTOM BUTTON */
.buttonNavbar {
  color: white !important;
  border: none;
  font-family: 'Karla', sans-serif !important;
}

.buttonCardPrimary {
  color: rgb(53, 53, 53) !important;
  border: none;
  font-family: 'Karla', sans-serif !important;
  font-size: 13px !important;
  border: 1px solid #ffc803 !important;
  background-color: #ffc803 !important;
}

.buttonCardPrimary:hover {
  color: white !important;
  /* border: 1px solid black; */
  transition: all 0.3s ease-in-out;
}
.buttonCardSecondary {
  color: rgb(53, 53, 53) !important;
  border: none;
  font-family: 'Karla', sans-serif !important;
  font-size: 13px !important;
  border: 1px solid #ffc803 !important;
}

.buttonCardSecondary:hover {
  color: #ca9f02 !important;
  /* border: 1px solid black; */
  transition: all 0.3s ease-in-out;
}

.buttonNavbar:hover {
  color: rgb(247, 247, 78) !important;
  border: 1px solid rgb(247, 247, 78);
  transition: all 0.3s ease-in-out;
}

/* DIVIDE */
.divideContain {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.divideFull {
  width: 80% !important;
  height: 2px !important;
  background-color: #ffc803 !important;
}
.divide {
  width: 100% !important;
  height: 2px !important;
  background-color: #ffc803 !important;
}

.buttonDrawer {
  color: white !important;
  height: 40px !important;
  font-size: 30px !important;
}

/* S E A R C H  B A R */

.container-suggestion-SearBar {
  width: 286px;
  height: 300px;
  position: absolute;
  top: 33px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(185, 184, 184);
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 4px;
}

.boxProd-searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px;
  gap: 4px;
}

.imageProd-searchBar {
  width: 20%;
  height: 50px;
}

.infoProd-searchBar {
  width: 80%;
}

.titleProd-searchBar {
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: 600;
}

.priceProd-searchBar {
  font-size: 13px;
}

/* M E D I A  Q U E R Y */

@media screen and (min-width: 500px) and (max-width: 900px) {
  .buttonCardPrimary {
    color: rgb(53, 53, 53) !important;
    border: none;
    font-family: 'Karla', sans-serif !important;
    font-size: 18px !important;
    border: 1px solid #ffc803 !important;
    background-color: #ffc803 !important;
  }
}
@media screen and (max-width: 500px) {
  .buttonDrawer {
    color: white !important;
    height: 40px !important;
    font-size: 33px !important;
  }
}
